<h1>詳細画面</h1>
<p>タイトル: <%= @blog.title %></p>
<p>内容: <%= @blog.content %></p>
<%= link_to "編集する", edit_blog_path(@blog.id) %>
<%= link_to '削除する', blog_path(@blog.id), method: :delete, data: { confirm: '本当に削除してもいいですか？' }%>
